*.pyc
*.pyo
*.pyd
__pycache__/
venv/
.env
.env.*

.idea/
.vscode/
*.iml

*.log
docker-compose.override.yml

postgres_data/
*.db
*.sqlite3


migrations/
alembic.ini


logs/
*.log
*.pid
cache/
__pycache__/
